<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur_robot">


    <!-- Include the standard UR robot -->
    <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro" />

    <!-- Include your custom gripper and add the joint to connect to it, then go to the
    ur_controllers.yaml and change the ee link in the controller parameters -->
    <!-- <xacro:include filename="$(find gripper_description)/urdf/ur_gripper.xacro" /> -->
    <!-- <joint name="example_gripper_joint" type="fixed">
        <parent link="tool0" />
        <child link="gripper_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint> -->

</robot>