<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur_robot">


    <!-- Include the standard UR robot -->
    <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro" />

    <xacro:arg name="use_fake_hardware" default="true" />
    <xacro:arg name="com_port" default="/dev/ttyUSB0" />
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_140_macro.urdf.xacro" />
    <xacro:arg name="use_fake_hardware" default="false" />
    <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro" />

    <xacro:ur_to_robotiq
        prefix=""
        parent="tool0"
        child="robotiq_coupling"
        rotation="${pi/2}" />

    <xacro:robotiq_gripper
        prefix=""
        parent="robotiq_coupling"
        name="RobotiqGripper"
        include_ros2_control="true"
        use_fake_hardware="$(arg use_fake_hardware)">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:robotiq_gripper>



    <link name="target_link">
    </link>
    <joint name="final_joint" type="fixed">
        <parent link="robotiq_140_base_link" />
        <origin xyz="0 0.0 0.2" rpy="0 0 0" />
        <child link="target_link" />
    </joint>


</robot>